{% extends "base.html" %}

{% block title %}Techno Market{% endblock %}

{% block products_info %}
            <div class="row gx-4 gx-lg-5 justify-content-center">
                <div class="col-md-10 col-lg-8 col-xl-10">
                    <!-- Post preview-->
                    {% if user.is_authenticated %}
                    {% for item in markets %}
                    {% if item.market_id.id == user.market_id %}
                    <div class="post-preview">
                        <a href="{% url 'market:product_buy' product_id=item.prod_id.id market_id=user.market_id %}">
                            <h2 class="post-title">{{ item.prod_id.product_name }}</h2>
                            <h3 class="post-subtitle">{{ item.prod_id.price }}руб___________________________________________{{ item.count }}шт</h3>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endif %}
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-space-between mb-4" style="justify-content:space-between;">
                        {% if markets.has_previous %}
                            <a class="btn btn-primary text-uppercase" href="?page={{ markets.previous_page_number }}"><На предыдущую страницу</a>
                        {% endif %}
                        <span>
                            Страница {{markets.number}} из {{markets.paginator.num_pages}}.
                        </span>
                        {% if markets.has_next %}
                            <a class="btn btn-primary text-uppercase" href="?page={{ markets.next_page_number }}">На следующую страницу></a>
                        {% endif %}
                    </div>
                    {% else %}
                    {% for item in products %}
                    <div class="post-preview">
                        <a href="{% url 'market:product' id=item.id %}">
                            <h2 class="post-title">{{ item.product_name }}</h2>
                            <h3 class="post-subtitle">{{ item.price }}</h3>
                        </a>
                        <p class="post-meta">
                            Posted by
                            <a href="#!">Start Bootstrap</a>
                            on September 24, 2022
                        </p>
                    </div>
                    <!-- Divider-->
                    <hr class="my-4" />
                    {% endfor %}
                    <!-- Pager-->
                    <div class="d-flex justify-content-space-between mb-4" style="justify-content:space-between;">
                        {% if products.has_previous %}
                            <a class="btn btn-primary text-uppercase" href="?page={{ products.previous_page_number }}"><На предыдущую страницу</a>
                        {% endif %}
                        <span>
                            Страница {{products.number}} из {{products.paginator.num_pages}}.
                        </span>
                        {% if products.has_next %}
                            <a class="btn btn-primary text-uppercase" href="?page={{ products.next_page_number }}">На следующую страницу></a>
                        {% endif %}
                    </div>
                    {% endif %}
                </div>
            </div>
{% endblock %}
